name: Greetings

on: issues

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: |
          _<h3>Thanks for stopping by! Your move will be processed shortly.</h3>_
          ✨ If you had fun, please consider starring the repository! ✨
